<h2 class="text-center my -5">Employees</h2>

<div class="card">

    <div class="card-header">
        <p class="fs-5">Overview</p>
    </div>

    <div class="card-body">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (emp of employees; track emp.id) {
            <tr>
              <td>{{ emp.id }}</td>
              <td>{{ emp.firstName }}</td>
              <td>{{ emp.lastName }}</td>
              <td>{{ emp.phone }}</td>
              <td>{{ emp.email }}</td>
              <td>{{ emp.position }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp.id)">Delete</button>
                <button class="btn btn-primary btn-sm m-1" (click)="editEmployee(emp.id)">Update</button>
            </td>
            </tr>
          }
    </tbody>
</table>
</div>
</div>


<!-- <select class="bootstrap-select">
    <option value="1" selected="selected">Feature 1</option>
    <option value="2">Feature 2</option>
    <option value="3">Feature 3</option>
    <option value="4">Feature 4</option>
</select>
   -->