<h2>{{isEditing? 'Edit' : 'Create'}} Employee</h2>

<div *ngIf="errorMessage != ' '">
    {{errorMessage}}
</div>

<!-- creates a form -->
<form (ngSubmit)="onSubmit()">

    <div>
        <label>First Name </label>
        <!-- (ngSubmit)="onSubmit()" -- means when the form is submitted it calls the onsubmit function -->
        <input type="text" name="firstName" [(ngModel)]="employee.firstName" />
        <!-- [(ngModel)]="employee.firstName - whatever you input in the field it will update -->
    </div>

    <div>
        <label>Last Name </label>
        <input type="text" name="lastName" [(ngModel)]="employee.lastName" />
    </div>

    <div>
        <label>Phone </label>
        <input type="text" name="phone" [(ngModel)]="employee.phone" />
    </div>

    <div>
        <label>Position </label>
        <input type="text" name="position" [(ngModel)]="employee.position" />
    </div>

    <button type="submit">{{isEditing? 'Edit' : 'Create'}}</button>
</form>

